{{- if .Values.keycloak.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ .Values.namespace }}-{{ .Values.prefix }}-kc
  name: {{ .Values.namespace }}-{{ .Values.prefix }}-kc
  namespace: {{ .Values.namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.namespace }}-{{ .Values.prefix }}-kc
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ .Values.namespace }}-{{ .Values.prefix }}-kc
    spec:
      {{- if .Values.keycloak.imagePullSecret }}
      imagePullSecrets:
        - name: {{ .Values.keycloak.imagePullSecret }}
      {{- end }}
      containers:
        - name: {{ .Values.namespace }}-{{ .Values.prefix }}-kc
          image: {{ .Values.keycloak.image }}
          securityContext:
            {{- if .Values.securityContext }}
              {{- toYaml .Values.securityContext | nindent 12 }}
            {{- end }}
          resources:
            {{- if .Values.resources }}
              {{- toYaml .Values.resources | nindent 12 }}
            {{- end }}
          env:
            - name: KEYCLOAK_ADMIN_USER
              value: {{ .Values.keycloak.adminUsername }}
            - name: KEYCLOAK_ADMIN_PASSWORD
              value: {{ .Values.keycloak.adminPassword }}
            - name: KEYCLOAK_DATABASE_HOST
              value: {{ .Values.namespace }}-{{ .Values.prefix }}-postgres-svc
            - name: KEYCLOAK_DATABASE_PASSWORD
              value: {{ .Values.keycloak.dbPassword }}
            - name: KEYCLOAK_DATABASE_USER
              value: {{ .Values.keycloak.dbUsername }}
            - name: KEYCLOAK_DATABASE_NAME
              value: {{ .Values.keycloak.dbName }}
            - name: KEYCLOAK_HTTP_RELATIVE_PATH
              value: /
            - name: KEYCLOAK_ENABLE_HTTPS
              value: "false"
            - name: KEYCLOAK_ENABLE_STATISTICS
              value: "false"
            - name: KEYCLOAK_HTTP_PORT
              value: "8080"
            - name: KEYCLOAK_LOG_OUTPUT
              value: default
            - name: KEYCLOAK_PRODUCTION
              value: "false"
            - name: KEYCLOAK_PROXY
              value: edge
            - name: KEYCLOAK_FRONTEND_URL
              value: {{ .Values.keycloak.frontendUrl }}
            - name: PROXY_ADDRESS_FORWARDING
              value: "true"
{{- end }}