{{- if .Values.organisationWallet.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ .Values.namespace }}-{{ .Values.prefix }}-config-ow
  name: {{ .Values.namespace }}-{{ .Values.prefix }}-config-ow
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.namespace }}-{{ .Values.prefix }}-config-ow
  template:
    metadata:
      labels:
        app: {{ .Values.namespace }}-{{ .Values.prefix }}-config-ow
    spec:
      {{- if .Values.organisationWallet.imagePullSecret }}
      imagePullSecrets:
        - name: {{ .Values.organisationWallet.imagePullSecret }}
      {{- end }}
      containers:
      - env:
        - name: SECURE_VAULT_BASE_URL
          {{- if .Values.organisationWallet.secureVaultUrl }}
          value: {{ .Values.organisationWallet.secureVaultUrl }}
          {{- else if .Values.vaultFacade.enabled }}
          value: "http://{{ .Values.namespace }}-{{ .Values.prefix }}-vault-facade-svc:8080"
          {{- end }}
        - name: ROUTE_PERMITTED
          value: config
        - name: DOMAIN
          value: "https://{{ (index .Values.organisationWallet.service.ingress.hosts 0).host }}"
        - name: DATABASE_USER
          value: {{ .Values.keycloak.dbUsername }}
        - name: DATABASE_PASSWORD
          value: {{ .Values.keycloak.dbPassword }}
        - name: DATABASE_HOST
          value: {{ .Values.namespace }}-{{ .Values.prefix }}-postgres-svc
        - name: DATABASE_PORT
          value: "5432"
        - name: DATABASE_DB
          value: {{ .Values.organisationWallet.dbName }}
        {{- if .Values.organisationWallet.ebsiBaseUrl }}
        - name: EBSI_BASE_URL
          value: {{ .Values.organisationWallet.ebsiBaseUrl }}
        {{- end }}
        {{- if .Values.organisationWallet.walletUnitProductionChecksEnabled }}
        - name: WALLET_UNIT_PRODUCTION_CHECKS_ENABLED
          value: "{{ .Values.organisationWallet.walletUnitProductionChecksEnabled }}"
        {{- end }}
        - name: NATS_SERVER_URL
          {{- if .Values.organisationWallet.natsServerUrl }}
          value: {{ .Values.organisationWallet.natsServerUrl }}
          {{- else if .Values.nats.enabled }}
          value: "nats://{{ .Values.namespace }}-{{ .Values.prefix }}-nats-svc:4222"
          {{- end }}
        {{- if .Values.api.enabled }}
        - name: ONBOARDING_BASE_URL
          value: "http://{{ .Values.namespace }}-{{ .Values.prefix }}-api-svc"
        - name: INTERNAL_MICROSERVICE_BASE_URL
          value: "http://{{ .Values.namespace }}-{{ .Values.prefix }}-webhook-handler-svc"
        {{- end }}
        image: {{ .Values.organisationWallet.image }}
        imagePullPolicy: IfNotPresent
        name: {{ .Values.namespace }}-{{ .Values.prefix }}-config-ow
        ports:
        - containerPort: 8080
          protocol: TCP
        resources:
          {{- if .Values.resources }}
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
      securityContext:
        {{- if .Values.securityContext }}
          {{- toYaml .Values.securityContext | nindent 10 }}
        {{- end }}
{{- end }}