{{- if .Values.api.enabled }}
apiVersion: v1
data:
  config-production.json: |
    {
      "DataBase": {
        "hosts": [
          {{- if .Values.api.configuration.database.host }}
          "{{ .Values.api.configuration.database.host }}"
          {{- else if .Values.prefix }}
          "{{ .Values.namespace }}-{{ .Values.prefix }}-mongo-svc"
          {{- else }}
          "{{ .Values.namespace }}-mongo-svc"
          {{- end }}
        ],
        "name": "{{ .Values.mongo.database }}",
        "username": "{{ .Values.mongo.username }}",
        "password": "{{ .Values.mongo.password }}"
      },
      "ApplicationMode": "multi-tenant",
      "ApiSecretKey": "{{ .Values.api.configuration.ApiSecretKey }}",
      "Iam": {
        "url": "{{ .Values.api.configuration.Iam.url }}",
        "realm": "{{ .Values.api.configuration.Iam.realm }}",
        "ClientId": "{{ .Values.api.configuration.Iam.ClientId }}",
        "AdminUser": "{{ .Values.keycloak.adminUsername }}",
        "AdminPassword": "{{ .Values.keycloak.adminPassword }}",
        "timeout": 5
      },
      {{- if .Values.api.configuration.Smtp }}
      "Smtp": {
        "username": "{{ .Values.api.configuration.Smtp.username }}",
        "password": "{{ .Values.api.configuration.Smtp.password }}",
        "host": "{{ .Values.api.configuration.Smtp.host }}",
        "port": {{ .Values.api.configuration.Smtp.port }},
        "adminEmail": "{{ .Values.api.configuration.Smtp.adminEmail }}"
      },
      {{- end }}
      "Webhooks": {
        "events": {{ .Values.api.configuration.Webhooks.events | toJson }}
      },
      "SSIAriesCloudAgentDeployment": {
        "BackendAPIBaseURL": "https://{{ (index .Values.api.ingress.hosts 0).host }}"
      },
      "OpenIdDeployment": {
        {{- if .Values.prefix }}
        "OpenIdServerBaseUrl": "http://{{ .Values.namespace }}-{{ .Values.prefix }}-config-ow-svc.{{ .Values.namespace }}.svc.cluster.local",
        {{- else }}
        "OpenIdServerBaseUrl": "http://{{ .Values.namespace }}-config-ow-svc.{{ .Values.namespace }}.svc.cluster.local",
        {{- end }}
        "OpenIdServiceEndpoint": "https://{{ (index .Values.organisationWallet.service.ingress.hosts 0).host }}"
      },
      {{- if .Values.api.configuration.Extensions }}
      "Extensions": {
        "oidc": {
          "configUrl": "{{ .Values.api.configuration.Extensions.oidc.configUrl }}",
          "publicUrl": "{{ .Values.api.configuration.Extensions.oidc.publicUrl }}",
          "oidcPathBase": "{{ .Values.api.configuration.Extensions.oidc.oidcPathBase }}",
          "apiPathBase": "{{ .Values.api.configuration.Extensions.oidc.apiPathBase }}"
        }
      },
      {{- end }}
      "Nats": {
        {{- if .Values.api.configuration.Nats.url }}
        "url": "{{ .Values.api.configuration.Nats.url }}",
        {{- else if .Values.nats.enabled }}
        {{- if .Values.prefix }}
        "url": "nats://{{ .Values.namespace }}-{{ .Values.prefix }}-nats-svc:4222",
        {{- else }}
        "url": "nats://{{ .Values.namespace }}-nats-svc:4222",
        {{- end }}
        {{- else }}
        "url": "",
        {{- end }}
        "timeout": {{ .Values.api.configuration.Nats.timeout }}
      }
    }
kind: ConfigMap
metadata:
  name: {{ .Values.namespace }}-{{ .Values.prefix }}-api-config
  namespace: {{ .Values.namespace }}
{{- end }}